logs
project/project
project/target
target
**/project/project
**/project/target
**/target
tmp
.history
/.idea
**/.idea
.sbtserver/*
frontend/root/dist
frontend/root/node_modules
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
**/project/.sbtserver
**/project/.sbtserver.lock
**/project/play-fork-run.sbt
**/project/sbt-ui.sbt
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID

/src/main/resources/root/node_modules
